.digits {
    margin: 0;
    padding: 0;
    background-color: white;
}
  
.section-title {
    font-size: 60px;
    line-height: 69px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
  
.section-subtitle {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    text-align: center;
}
  
.table {
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
}
  
.table__cell {
    width: 250px;
    text-align: left;
    margin-top: 60px;
}
  
.table__heading {
    font-size: 24px;
    line-height: 1.15;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}
  
.table__text {
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    text-align: left;
}
  